:root {
  /* GREENS */
  --Green-900: hsl(183, 100%, 15%);
  --Green-800: hsl(183, 85%, 21%);
  --Green-750: hsl(183, 79%, 24%);
  --Green-400: hsl(172, 67%, 45%);
  --Green-200: hsl(173, 61%, 77%);

  /* GRAYS */
  --Grey-600: hsl(180, 25%, 32%);
  --Grey-550: hsl(180, 18%, 40%);
  --Grey-500: hsl(186, 14%, 43%);
  --Grey-400: hsl(184, 14%, 56%);
  --Grey-300: hsl(184, 19%, 68%);
  --Grey-200: hsl(185, 41%, 84%);
  --Grey-50: hsl(189, 47%, 97%);
  --Gray-Custom-bg: rgb(234, 245, 246);
  --White: rgb(250, 250, 250);

  /* ORANGE */
  --Orange-400: hsl(13, 70%, 60%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Space Mono", monospace;
  font-size: min(1.1vw, 1.55vh);
  color: var(--Grey-500);
  font-weight: 700;
}

body {
  background-color: var(--Grey-200);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
}

/* removes the default arrows on number-type inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-container {
  background-color: var(--White);
  width: 65%;
  height: min(50%, 33vw);
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 2.5rem;
  gap: 2rem;
  position: relative;
}

.logo-container {
  position: absolute;
  /* background-color: coral; */
  text-align: center;
  width: 100%;
  top: 12.5%;
  right: 0;
}

.logo {
  width: 6rem;
  height: auto;
}

.inputs-section {
  background-color: var(--White);
  width: 50%;
  height: 100%;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bill-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  position: relative;
}

.bill-label {
  font-size: 1.125rem;
}

.bill-input {
  width: 100%;
  text-align: right;
  font-size: 1.5rem;
  color: var(--Green-900);
  padding: 0.35rem 1rem;
  border: none;
  border-radius: 0.35rem;
  font-family: inherit;
  font-weight: inherit;
  background-color: var(--Gray-Custom-bg);
  border: 1px solid transparent;
}

.bill-input:hover,
.bill-input:active {
  border: 1px solid var(--Green-400);
}

.bill-input:focus {
  outline: none;
  border: 1px solid var(--Green-400);
}

::placeholder {
  color: var(--Grey-400);
}

.money-sign {
  width: 1rem;
  height: auto;
}

.money-sign-span {
  position: absolute;
  left: 1rem;
  top: 57.5%;
}

.tip-selection-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.tip-header {
  font-size: 1.125rem;
}

.tip-options {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(3, 33%);
}

.tip-btn {
  padding: 0.35rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--Green-900);
  color: var(--White);
  font-size: 1.5rem;
  font-weight: inherit;
  font-family: inherit;
  margin: 0.5rem;
}

.tip-btn:hover,
.tip-btn:active {
  background-color: var(--Green-200);
  color: var(--Green-900);
}

.selected-tip {
  background-color: var(--Green-200);
  color: var(--Green-900);
}

.custom-tip-container {
  margin: 0.5rem;
  position: relative;
  z-index: 2;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.has-input::after,
.has-input::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    var(--Green-200),
    var(--Green-200),
    var(--Green-400),
    var(--Green-200),
    var(--Green-200),
    var(--Green-400),
    var(--Green-200)
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1;
  padding: 2px;
  border-radius: 0.5rem;
  animation: 2s spin linear infinite;
}

.has-input::before {
  filter: blur(1rem);
  opacity: 50%;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.custom-tip {
  width: 100%;
  height: 100%;
  background-color: var(--Gray-Custom-bg);
  color: var(--Green-900);
  font-size: 1.5rem;
  font-weight: inherit;
  font-family: inherit;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  z-index: 2;
  position: relative;
}

.custom-tip::placeholder {
  font-size: 1.5rem;
  font-weight: inherit;
  font-family: inherit;
  color: var(--Grey-500);
  z-index: 2;
}

.custom-tip:hover,
.custom-tip:active {
  background-color: var(--Green-200);
}

.custom-tip:hover::placeholder,
.custom-tip:active::placeholder {
  color: var(--Green-900);
}

.custom-tip:focus::placeholder {
  color: transparent;
}

.custom-tip:focus {
  outline: none;
}

.num-people-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  position: relative;
}

.num-people-label {
  font-size: 1.125rem;
  position: relative;
}

.error-msg {
  display: none;
  position: absolute;
  right: 0;
  color: var(--Orange-400);
}

.num-people-input {
  text-align: right;
  font-size: 1.5rem;
  color: var(--Green-900);
  padding: 0.35rem 1rem;
  border: none;
  border-radius: 0.35rem;
  font-family: inherit;
  font-weight: inherit;
  background-color: var(--Gray-Custom-bg);
  border: 1px solid transparent;
}

.zero-people {
  border: 1px solid var(--Orange-400);
}

.num-people-input:hover:not(.zero-people),
.num-people-input:active:not(.zero-people) {
  border: 1px solid var(--Green-400);
}

.num-people-input:focus {
  outline: none;
  border: 1px solid var(--Green-400);
}

.num-people-input:focus.zero-people {
  outline: none;
  border: 1px solid var(--Orange-400);
}

.people-icon {
  width: 1rem;
  height: auto;
}

.people-icon-span {
  position: absolute;
  left: 1rem;
  top: 60%;
}

.amount-section {
  background-color: var(--Green-900);
  width: 50%;
  height: 100%;
  border-radius: 2rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.all-amounts-display {
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: auto;
}

.tip-amount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tip-amount-header {
  color: var(--White);
}

.tip-amount-subheader {
  color: var(--Grey-400);
  font-size: 0.8rem;
}

.tip-amount-display {
  color: var(--Green-400);
  font-size: 3rem;
}

.total-amount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-header {
  color: var(--White);
}

.total-subheader {
  color: var(--Grey-400);
  font-size: 0.8rem;
}

.total-amount-display {
  color: var(--Green-400);
  font-size: 3rem;
}

.reset-container {
  width: 100%;
}

.reset-btn {
  width: 100%;
  height: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--Green-800);
  color: var(--Green-900);
  font-family: inherit;
  font-weight: inherit;
  font-size: 1rem;
}

.reset-btn:hover,
.reset-btn:active {
  background-color: var(--Green-200);
}

@media screen and (max-width: 1023px), screen and (max-width: 1024px) {
  html {
    font-family: "Space Mono", monospace;
    font-size: min(1.95vw, 1.35vh);
    color: var(--Grey-500);
    font-weight: 700;
  }

  body {
    background-color: var(--Grey-200);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
  }

  .main-container {
    background-color: var(--White);
    /* width: 80%; */
    width: min(80%, 55vh);
    height: min(75%, 108vw);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2.5rem;
    margin-bottom: min(10vw, 7vh);
    gap: 2rem;
    position: relative;
  }

  .logo-container {
    position: absolute;
    text-align: center;
    width: 100%;
    transform: translate(0, -6rem);
  }

  .inputs-section {
    background-color: var(--White);
    width: 100%;
    height: 50%;
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .amount-section {
    background-color: var(--Green-900);
    width: 100%;
    height: 50%;
    border-radius: 2rem;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-family: "Space Mono", monospace;
    /* font-size: 16px; */
    font-size: min(3.7vw, 1.7vh);
    color: var(--Grey-500);
    font-weight: 700;
  }

  body {
    background-color: var(--Grey-200);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
  }

  .main-container {
    background-color: var(--White);
    width: 100%;
    height: auto;
    border-radius: 2rem 2rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    margin-bottom: 0;
    gap: 2rem;
    position: relative;
  }

  .logo-container {
    position: absolute;
    text-align: center;
    width: 100%;
    transform: translate(0, -6rem);
  }

  .inputs-section {
    background-color: var(--White);
    width: 100%;
    height: 50%;
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .amount-section {
    background-color: var(--Green-900);
    width: 100%;
    height: 50%;
    border-radius: 2rem;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .tip-options {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(2, 50%);
  }

  .tip-btn {
    padding: 0.35rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--Green-900);
    color: var(--White);
    font-size: 1.5rem;
    font-weight: inherit;
    font-family: inherit;
    margin: 0.5rem;
  }
}
